<br />
<% post.comments.forEach(function (comment, index) { %>
<p>
  <a href="<%= comment.website %>">
    <%= comment.name %>
  </a>
  <span>
    回复与 <%= comment.time%>
  </span>
  <p><%- comment.content %></p>
</p>
<% }) %>

<form method="post">
  <% if (user) { %>
    姓名：<input type="text" name="name" value="<%= user.name %>" /><br />
    邮箱：<input type="text" name="email" value="<%= user.email %>" /><br />
    网址：<input type="text" name="website" value="/u/<%= user.name %>" /><br />
  <% } else { %>
    姓名：<input type="text" name="name"  /><br />
    邮箱：<input type="text" name="email"  /><br />
    网址：<input type="text" name="website" value="http://" /><br />
  <% } %>
  <textarea name="content" rows="5" cols="80"></textarea><br />
  <input type="submit" name="留言">
</form>


